@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@font-face {
    font-family:'heading';
    src: url('../assets/Font/NEONLEDLight.otf');
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'heading';
    color:#FF0101;
    font-size: 3rem;
    font-weight:bold;
}
.abt-description{
    font-family: 'Courier Prime', monospace;
    color:#E3FDFD;
    padding:1rem;
    line-height: 2.5;
    font-size: 1.3rem;
    justify-content: flex-end;
    text-align: justify;
}
@media (max-width:399px){
    .abt-description{
        font-family: 'Courier Prime', monospace;
        color:#E3FDFD;
        padding-left:1rem;
        padding-right: 1rem;
        line-height: 2.5;
        font-size: 0.8rem;
        justify-content: center;
    }
}

.officebearers{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'heading';
    color:#FF0101;
    font-size: 2.5rem;
    font-weight:bold;
}
