.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
@font-face {
    font-family:'heading';
    src: url('../assets/Font/NEONLEDLight.otf');
}
span{
    font-family:'heading';
    color:#eb1400;
    font-size: 3rem;
    font-weight:bold;
} 
