

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.head-history{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    color:#08c6db;
    font-size: 3rem;
    font-weight:bold;
}